data/*.fastq.gz
*.fq.gz

work/
results_*/salmon/
results_*/fastqc/
results_*/star/
*.bam
*.bam.bai

.nextflow/
.nextflow.log*

.Rhistory
.RData
.Rproj.user

*.tmp
*.log

.DS_Store
Thumbs.db

*_personal.csv
credentials.txt
