params {
    input         = 'samplesheet.csv'
    outdir        = 'results'
    threads       = 4
    star_index    = null
    salmon_index  = null
    skip_trimming = false
    skip_qc       = false
}

process {
    // 기본값
    cpus   = 2
    memory = '2 GB'
    time   = '4h'
    
    // 프로세스별 설정
    withName: 'FASTQC.*' {
        cpus   = 2
        memory = '2 GB'
    }
    withName: FASTP {
        cpus   = 4
        memory = '4 GB'
    }
    withName: STAR_ALIGN {
        cpus   = 4
        memory = '4 GB'
    }
    withName: SALMON_QUANT {
        cpus   = 4
        memory = '4 GB'
    }
    withName: MULTIQC {
        cpus   = 1
        memory = '2 GB'
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
